<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.monitor.dao.AuthorInfoDAO">
	<select id="AuthorInfoList" parameterType="AuthorInfo" resultType="java.util.HashMap">
		SELECT `id` as id, `authorId` as authorId , `start` as start, `count` as count, `createTime` as createTime  FROM `author_info`
	</select>
	
	<select id="SelectAuthorInfoOne" parameterType="AuthorInfo" resultType="AuthorInfo">
		SELECT `id` as id, `authorId` as authorId , `start` as start, `count` as count, `createTime` as createTime  FROM `author_info`  ORDER BY RAND() LIMIT 1
	</select>
</mapper>