<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quartz.monitor.dao.VisitUserDAO">
	<select id="VisitUserList" parameterType="VisitUser" resultType="java.util.HashMap">
		SELECT  `id` as id, `mothodName` as mothodName, `number` as number, `modifyTime` as modifyTime FROM `visit_user`
	</select>
	
	
	<insert id="saveVisitUser" parameterType="VisitUser"> INSERT INTO
		`visit_user`(`id`, `mothodName`, `number`, `modifyTime`)
		VALUES(#{id},#{mothodName},#{number},#{modifyTime})
	</insert>
	
	<update id="updateVisitUser" parameterType="VisitUser">
		UPDATE `visit_user` `number` =`number`+1
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="mothodName != null">
				mothodName = #{mothodName}
			</if>
		</trim>
	</update>
</mapper>

