<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.quartz.monitor.timer" />
	<bean id="SpringQtzJob" class="com.quartz.monitor.timer.QuartzClock" />
	<!-- 任务方法 -->
	<bean id="SpringExecuteAuthorInfoTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeAuthorInfoTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteCatalogContentTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeCatalogContentTask</value>
		</property>
	</bean>
	<bean id="SpringExecuteCatalogListTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeCatalogListTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteChannelsTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeChannelsTask</value>
		</property>
	</bean>
	<bean id="SpringExecuteChapterListTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeChapterListTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteContentInfoTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeContentInfoTask</value>
		</property>
	</bean>
	<bean id="SpringExecuteGetHotRecommendTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeGetHotRecommendTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteRankTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeRankTask</value>
		</property>
	</bean>
	<bean id="SpringExecuteRankTypeTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeRankTypeTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteGetRecommendTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeGetRecommendTask</value>
		</property>
	</bean>
	<bean id="SpringExecuteGetRecommendTypeTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeGetRecommendTypeTask</value>
		</property>
	</bean>

	<bean id="SpringExecuteIdentifyCnetTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="SpringQtzJob" />
		</property>
		<property name="targetMethod">
			<value>executeIdentifyCnetTask</value>
		</property>
	</bean>
	
	<!--定时器  -->
	<bean id="cronQuartzSpringExecuteAuthorInfoTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteAuthorInfoTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronQuartzSpringExecuteCatalogContentTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteCatalogContentTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="cronQuartzSpringExecuteCatalogListTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteCatalogListTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronQuartzSpringExecuteChannelsTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteChannelsTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="cronSpringExecuteChapterListTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteChapterListTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronQuartzSpringExecuteContentInfoTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteContentInfoTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="cronQuartzSpringExecuteGetHotRecommendTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteGetHotRecommendTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronQuartzSpringExecuteRankTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteRankTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="cronQuartzSpringExecuteRankTypeTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteRankTypeTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronSpringExecuteGetRecommendTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteGetRecommendTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="cronQuartzSpringExecuteGetRecommendTypeTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteGetRecommendTypeTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 3-23 * * ?</value>
		</property>
	</bean>

	<bean id="cronSpringExecuteIdentifyCnetTask" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="SpringExecuteIdentifyCnetTask"></ref>
		</property>
		<property name="cronExpression">
			<value>0/2 * 0-23 * * ?</value>
		</property>
	</bean>
	

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronQuartzSpringExecuteAuthorInfoTask"></ref>
				<ref bean="cronQuartzSpringExecuteCatalogContentTask"></ref>
				<ref bean="cronQuartzSpringExecuteCatalogListTask"></ref>
				<ref bean="cronQuartzSpringExecuteChannelsTask"></ref>
				<ref bean="cronSpringExecuteChapterListTask"></ref>
				<ref bean="cronQuartzSpringExecuteContentInfoTask"></ref>
				<ref bean="cronQuartzSpringExecuteGetHotRecommendTask"></ref>
				<ref bean="cronQuartzSpringExecuteRankTask"></ref>
				<ref bean="cronQuartzSpringExecuteRankTypeTask"></ref>
				<ref bean="cronSpringExecuteGetRecommendTask"></ref>
				<ref bean="cronQuartzSpringExecuteGetRecommendTypeTask"></ref>
				<ref bean="cronSpringExecuteIdentifyCnetTask"></ref>
			</list>
		</property>
	</bean>
</beans>
